@CHARSET "UTF-8";
table{
	text-align: center;
}
.table-title{
	background-color: #83b14e;
	color : white;
	font-weight: bold;
}
.table-hover>tbody>.table-title:hover{
	background-color: #83b14e;
}

.paging{
	width : 700px;
	margin : 0 auto;
	text-align: center;
}
#btn{
	float : right;
}
.totalbody{
	margin-bottom: 20px;
}