<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="personMapper">
	<insert id="insert" parameterType="com.mediabank.person.PersonDTO">
		insert into person values(#{user_num},#{nickname},#{name},#{birth},#{artist})
	</insert>
	<select id="selectWriter" parameterType="int" resultType="String">
		select nickname from person where user_num=#{user_num}
	</select>
	<update id="upload" parameterType="com.mediabank.person.PersonDTO">
		update person set name=#{name}, birth=#{birth}, artist=#{artist} where user_num=#{user_num}
	</update>
	<select id="selectOne" parameterType="int" resultType="com.mediabank.person.PersonDTO">
		select * from person where user_num=#{user_num}
	</select>
	<select id="checkArt" parameterType="int" resultType="String">
		select artist from person where user_num=#{user_num}
	</select>
	<select id="kindCheck" parameterType="String" resultType="com.mediabank.person.PersonDTO">
		select * from person where nickname like '%'||#{search}||'%'
	</select>
</mapper>
